<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Temperature Result</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Result for <%= place %></h1>
    <p>Temperature: <strong><%= temperature %> K</strong></p>
    <p>Retrieved at: <%= date %></p>
    <hr />
    <a href="/weather">Lookup another</a>
  </body>
</html>
